<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="small-8 large-offset-2 large-8 columns">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
           <% if user_signed_in? %>
               <%= link_to 'Account', edit_user_registration_path %>
               <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
           <% else %>
               <%= link_to 'Sign up', new_user_registration_path %>
               <%= link_to 'Sign in', new_user_session_path %>
           <% end %>
         </div>
    </div>
    <%= yield %>

  </body>
</html>
